body{
    height:800px;
    background: linear-gradient(to top left, black, gray)no-repeat;
}
.mobile{
  
  font-size: 1em;
  text-align: center;
}
#Lokaverkefni{
  display: flex;

}

#Lokaverkefni h1{
  font-size: 5em;


}


#LokaverkefniKey{
  position: relative;
    animation-name: texti;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    overflow: hidden;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}
@keyframes texti{

  from {left: -7em;}
    to {left: 20em;}
     0%  {color:red;}
    25%  {color:yellow; }
    50%  {color:blue; }
    75%  {color:green; }
    100% {color:red; }

}
.takki{
  text-align: center;
  margin-top: 250px;
}
.Button1  {

  background: #78cbff;
  background-image: -webkit-linear-gradient(top, #78cbff, #0f6aa3);
  background-image: -moz-linear-gradient(top, #78cbff, #0f6aa3);
  background-image: -ms-linear-gradient(top, #78cbff, #0f6aa3);
  background-image: -o-linear-gradient(top, #78cbff, #0f6aa3);
  background-image: linear-gradient(to bottom, #78cbff, #0f6aa3);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-shadow: 0px 1px 3px #f238f2;
  -moz-box-shadow: 0px 1px 3px #f238f2;
  box-shadow: 0px 1px 3px #f238f2;
  font-family: Georgia;
  color: #ffdeff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  border: solid #7996a8 2px;
  text-decoration: none;
}

.Button1: hover{
  background: #4f86a8;
  background-image: -webkit-linear-gradient(top, #4f86a8, #091d2b);
  background-image: -moz-linear-gradient(top, #4f86a8, #091d2b);
  background-image: -ms-linear-gradient(top, #4f86a8, #091d2b);
  background-image: -o-linear-gradient(top, #4f86a8, #091d2b);
  background-image: linear-gradient(to bottom, #4f86a8, #091d2b);
  text-decoration: none;
}
.Button1 a{
  align-content: center;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 48em){
  header{
    
  }
.mobile{
  display: none;
}
  
}



}
@media screen and (min-width: 48em){
  header{
    
  }

  #Lokaverkefni{

  display: flex;
}
#Lokaverkefni h1{
  font-size: 1em;


}


#LokaverkefniKey{
  position: relative;
    animation-name: texti;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    overflow: hidden;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}
@keyframes texti{

  from {left: -7em;}
    to {left: 18em;}
     0%  {color:red;}
    25%  {color:yellow; }
    50%  {color:blue; }
    75%  {color:green; }
    100% {color:red; }

}
.takki{
  text-align: center;
  margin-top: 250px;
}
}