/*All Screens*/
	*{
		box-sizing: border-box;
	}
	body{
		line-height: inherit;
		margin:0px;
		font-size: 13px;
		font-family: 'Montserrat', sans-serif;
		background:url(https://assets.donaldjtrump.com/site/media_bg_rptr.jpg);
	}
	header{
		display:flex;
		order: 2;
		background: white;
		width: 100%;
		border-top,
		border-bottom: 0px black solid;
		height:90px;
		/*overflow: hidden;*/
	}
	input{
	  display: none;
	}
	label{
	  position: fixed;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  border: 3px outset #999;
	  background-color: #2b325f;
	  color: red;
	  cursor: pointer;
	  font-size: 1.5em;
	  text-align: center;
	  z-index: 2;
	}

	input:checked + label #ulNav{
	  box-shadow: inset 0 .2em .2em rgba(0,0,0,25);
	  border: 2px inset #999;
	  color: yellow;
	  bottom: 1.7em;
  left: 0;
  line-height: 40px;

	}

	img {
		width: 100%;
		height: auto;
		border:0;
		border-style:none;
	}
	ul {
			margin: 0px;
			padding: 0px;
			display: flex;
	}

	li a, .dropbtn {
			display: inline-block;
			color:#4e4d56;
			text-align: center;
			padding: 0px 20px;
			text-decoration: none;

	}

	 li a:hover, .dropdown:hover .dropbtn {
			text-shadow: 1px 1px black;
	}

	li.dropdown {
			display: inline-block;
	}

	#topNavSpacer{
		display:flex;
		order:1;
		height: 25px;
		background-color:#2b325f;
	}
	#navMenu{
		    height: 90px;
	}
	#ulMynd{
	list-style-type: none;
    /*overflow: hidden;*/
    background-color: white;
    display:inline-block;
	}

	#ulNav {
    list-style-type: none;
    margin: 0;
    padding-bottom:0px ;
    /*overflow: hidden;*/
    background-color: white;
    display:inline-block;

	}
	#ulNav li{
			height:90px;
			display: table;
			border-left: black 1px solid;
	}

	#ulNav li a{
		display: table-cell;
		vertical-align: middle;
	}

	.dropdown {
		position: relative;
	}

	.logoMynd{
		height:auto;
		width:90px;
	}

	.banner,
	.bannerMynd{
		display:flex;
		order:3;
		width: 100%;
	}
	.mainContent{
		display:flex;
		flex-flow: column;
	}

	.aside-1{
		display:flex;
		flex-flow: column;
		order:5;
		padding:15px;
		box-shadow:1px 2px 1px 0px rgba(0,0,0,0.5);
		-webkit-box-shadow:1px 2px 1px 0px rgba(0,0,0,0.5);
		background-color:white;
	}

	.article-1{
		display:flex;
		flex-flow: column;
		order:4;
		padding:15px;
		box-shadow:1px 3px 2px 1px rgba(0,0,0,0.5);
		-webkit-box-shadow:1px 3px 2px 1px rgba(0,0,0,0.5);
		background-color:white;
		margin: 0px 5px 0px 5px;
	}

	.footerSpacer{
		height:3px;
		background-color:#2b325f;
		max-width: 1140px;
		margin: 0 auto;
	}


	/*Dropdown Menu
	--------------------------------------------------DDM*/

	#navMenu ul li {
	    float: left;
			height: 90px;
			max-height: 90px;
	}
	/*Typography*/
	#navMenu ul li{
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
	    font-size:14px;
	    letter-spacing: .1em;
	    text-rendering: optimizeLegibility;
	    -webkit-font-smoothing: antialiased;
	    font-weight:bold;
	}



	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #fff;
	    min-width: 110px;
	    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
			left: 15px;
			top: 75px;
	}

	.dropdown-content a {
	    color: black;
	    padding:0 0 0 10px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	.dropdown-content a:hover {
		background-color: #f1f1f1;
		text-shadow: none;
	}

	.dropdown:hover .dropdown-content {
	    display: flex;
			flex-flow: column;

	}

	.navEnd{
		background-color:#bc0000;
		color:#fff;
	}

	/*Presidents
	-----------*/
	.presidents{
		margin:5px auto;

	}

	.presidents img{
		width:155px;
		height:195px;
	}
	.presidents a img:hover{
		border:3px red solid;
	}


/*Small Screen*/
@media screen and (min-width: 30em){

}

/*Medium Screen*/
@media screen and (min-width: 48em){
	header{
		order: 1;
		margin:0px;
	}
}

#navMobile {
	display:none;
}

@media screen and (max-width: 40em){
	#navMobile{
		display: flex;
		margin: 0 auto;
	}

	#navMobile ul li {
		border: 0px;
	}

	#navMenu {
		display: none;
	}
}

/*Large Screen*/
@media screen and (min-width: 60em){
	body{
		/*max-width:60em;*/
		margin:0;
		height:100%;

	}

	.mainContent{
		display:flex;
		flex-flow: row wrap;
		width: 1140px;
		/*width: 71.250em;*/
		margin:5px auto;
		}

	.aside-1{
		display:flex;
		order:5;
		width:33%;
	}

	.article-1{
		display:flex;
		order:4;
		width:64%;
		margin-right:2%;
	}

	.presidents{
		width:1140px;
	}
	.presidents img
}
