/*All Screens*/
/*http://www.w3schools.com/howto/howto_js_dropdown.asp*/
	*{
		box-sizing: border-box;
	}
	body{
		line-height:0;
		margin:0%;
		font-size: 13px;
		font-family: 'Montserrat', sans-serif;
		background-color: blue; 
	}
	header{
		display:flex;
		order: 2;
		background: white;
		width: 100%;
		border-top,
		border-bottom: 0.5px black solid;
		height:80px;
		overflow: hidden;
	}
	#topNavSpacer{
		height: 25px;
		background-color:#2b325f;;
	}

	#navHome{
		width:100px;
		height:auto;
		padding: 0px;
	}
	img {
		width: 100%;
		height: auto;
		border:0;
		border-style:none;
	}
	#navHome{
		width:100%;
		height:100%;
	}
	.logoMynd{
		
	}

	.banner,
	.bannerMynd{
		display:flex;
		order:2;
		width: 100%;
	}
	/*Dropdown Menu
	--------------------------------------------------DDM*/
	#ulMynd{
		list-style-type: none;
	    overflow: hidden;
	    background-color: white;
	    display:inline-block;
	}

	#ulNav {
	    list-style-type: none;
	    margin: 0;
	    padding-bottom:20px ;
	    overflow: hidden;
	    background-color: white;
	    display:inline-block;
    
	}
	#navMenu{
		display:flex;
		align-self:center;
		align-content: center;
		align-items: center;
		justify-content:center;  
	}
	#navMenu ul li {
	    float: left;  
	    line-height: 90px;
	}
	/*Typography*/
	#navMenu ul li{
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
	    font-size:14px;
	    letter-spacing: .1em;
	    text-rendering: optimizeLegibility;
	    -webkit-font-smoothing: antialiased;
	    font-weight:bold;
	}

	li a, .dropbtn {
	    display: inline-block;
	    color:#4e4d56;
	    text-align: center;
	    padding: 0px 20px;
	    text-decoration: none;
	    border-left:black 1px solid;

	}

	 li a:hover, .dropdown:hover .dropbtn {
	    text-shadow: 1px 1px black;
	}

	li.dropdown {
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #fff;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}

	.dropdown-content a {
	    color: black;
	    padding:0 0 0 10px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	.dropdown-content a:hover {
		background-color: #f1f1f1;
		text-shadow: none;
	}

	.dropdown:hover .dropdown-content {
	    display: block;
	}

	.navEnd{
		background-color:#bc0000;
		color:#fff;
	}
	
/*Small Screen*/
@media screen and (min-width: 30em){
	
}

/*Medium Screen*/
@media screen and (min-width: 48em){
	header{
		display:inline-block;
		order: 1;
		margin:0px;
	}
}

/*Large Screen*/
@media screen and (min-width: 60em){
	body{
		/*max-width:60em;*/
		margin:0px;
		height:100%;
		
	}
}